@import url('http://fonts.cdnfonts.com/css/stranger-things');
@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

@keyframes neon {
  from {
      filter: drop-shadow(0px 0px 0px var(--cor-neon));
  }
  to {
      filter: drop-shadow(3px 3px 20px var(--cor-neon));
  }
}

.styleBody {
    font-family: "Exo 2", Sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 1px 1px 1px rgb(7, 1, 1);
  }
h1{
  font-size: 45px;
}
h2{
  font-size: 25px;
}
.leftContent{
  width: 100%;
  border: 1px solid red;
}
.rightContent{
  width: 50%;
  height: 70vh;
  font-size: 20px;
  background-size: 100% 121%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.formLogin{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.width50{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 1px rgb(7, 1, 1);
}
.noMarginBottom{
  margin-bottom: -10px;
  margin-top: -10px;
  padding-top: 20px;
  font-size: 20px;
}
.inputLogin{
  margin-left: 5px;
  border-radius: 8px;
  outline: none;
  background-color: rgba(0, 0, 0, 0.023);
  border: none;
  padding: 10px;
}
.inputLogin:focus{
    margin: -2px;
    margin-left: 3px;;
    animation: neon 2s alternate infinite ease-in-out;
    --cor-neon: white;
    border: 2px solid black;
}
.messageError {
  display: flex;
  justify-content: center;
  color: red;
  font-size: 13px;
  margin-bottom: 7px;
  text-decoration: dashed;
  text-shadow: 1px 1px 1px rgb(7, 1, 1);
  height: 15px;
}
.inputPassContainer{
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.inputPass{
  position: relative;
  margin-left: 5px;
  border-radius: 8px;
  outline: none;
  border: none;
  padding: 10px;
}
.inputPass:focus{
    margin: -2px;
    margin-left: 3px;;
    animation: neon 2s alternate infinite ease-in-out;
    --cor-neon: white;
    border: 2px solid black;
}
.iconPass{
  width: 25px;
  max-width: 25px;
  position: absolute;
  left: 54%;
  cursor: pointer;
}
.buttonSubmit{
  margin-top: 17px;
  width: 80px;
  height: 40px;
  cursor: pointer;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}
.buttonSubmit:hover{
  cursor: pointer;
  opacity: 0.8;
  animation: neon 2s alternate infinite ease-in-out;
  --cor-neon: white;
}
.registerButton{
  font-size: 65%;
  margin-bottom: 0px;
}
.registerButtonEffect:hover{
  cursor: pointer;
  opacity: 0.8;
  animation: neon 2s alternate infinite ease-in-out;
  --cor-neon: rgb(255, 255, 255);
}
