@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,500;0,600;0,800;0,900;1,100;1,200;1,500;1,600;1,700;1,800;1,900&display=swap');

.mainContainerDetailsPage{
    display: flex;
    justify-content: center;
}
.detailsLeftContainer{
    font-family: 'Barlow', sans-serif;
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 20px;
}
.detailsRightContainer{
    font-family: 'Barlow', sans-serif;
    display: flex;
    justify-content: center;
    width: 40%;
    border-radius: 8px;
}
.detailsRightContent{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color: #e0d4d492;
}
.textModelDetails{
    font-size: 26px;
    font-weight: 700;
}
.priceContent{
    color: white;
    background-color: black;
    padding: 20px 30px;
    font-size: 28px;
    font-weight: 700;
    border-radius: 6px;
}
.clientInformations{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.clientInformations input{
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(2, 2, 2, 0.223);
    padding: 10px;
    margin-bottom: 15px;
    background-color: rgba(240, 248, 255, 0);
}
.purchaseButton{
    color: white;
    background-color: green;
    padding: 15px 35px;
    font-size: 32px;
    font-weight: 900;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
    border: 2px solid white;
    margin-top: 30px;
}
.purchaseButton:hover{
    background-color: rgba(0, 128, 0, 0.867);
    transform: scale(1.05, 1.05);
    transition: 0.3s;
}
.bottomDetailsPage{
    text-align: center;
    width: 100%;
    padding: 0 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (max-width: 900px) {
    .mainContainerDetailsPage{
        display: flex;
        flex-direction: column-reverse;
    }
    .detailsLeftContainer{
        width: 100%;
    }
    .detailsRightContainer{
        display: flex;
        width: 100%;
        height: 60vh;
    }
  }
